<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.sergiolopes.cenourapp"
        version="1.0.0">

    <name>Menu Só de Cenoura</name>

    <description>
        Menu do restaurante Só de Cenoura - ADS Dispositivos Móveis.
    </description>

    <author href="https://github.com/joaobento11/CenourApp" email="joaovictorb00@gmail.com">
        João Bento
    </author>
    
</widget>
